<a href="https://colab.research.google.com/github/1920643/1920643.github.io/blob/main/pandasWorldBankAPI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# JSON data wrangling with python

Solving the double/multiple nesting problem

In [24]:
import requests, pandas as pd

In [25]:
url ='https://api.worldbank.org/v2/country/indicator/NY.GNP.PCAP.PP.CD?date=2020&format=json&per_page=266'
html = requests.get(url)

In [26]:
json_data=html.json()

Creating a `pandas` dataframe

In [27]:
#create dataframe directly
df=pd.DataFrame(json_data[1])

In [28]:
df

                                             indicator  ... decimal
0    {'id': 'NY.GNP.PCAP.PP.CD', 'value': 'GNI per ...  ...       0
1    {'id': 'NY.GNP.PCAP.PP.CD', 'value': 'GNI per ...  ...       0
2    {'id': 'NY.GNP.PCAP.PP.CD', 'value': 'GNI per ...  ...       0
3    {'id': 'NY.GNP.PCAP.PP.CD', 'value': 'GNI per ...  ...       0
4    {'id': 'NY.GNP.PCAP.PP.CD', 'value': 'GNI per ...  ...       0
..                                                 ...  ...     ...
261  {'id': 'NY.GNP.PCAP.PP.CD', 'value': 'GNI per ...  ...       0
262  {'id': 'NY.GNP.PCAP.PP.CD', 'value': 'GNI per ...  ...       0
263  {'id': 'NY.GNP.PCAP.PP.CD', 'value': 'GNI per ...  ...       0
264  {'id': 'NY.GNP.PCAP.PP.CD', 'value': 'GNI per ...  ...       0
265  {'id': 'NY.GNP.PCAP.PP.CD', 'value': 'GNI per ...  ...       0

[266 rows x 8 columns]

In [29]:
df.to_csv('GNI.csv')