<a href="https://colab.research.google.com/github/1920643/1920643.github.io/blob/main/PLTSHTML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# JSON data wrangling with python

Solving the double/multiple nesting problem

In [ ]:
import requests, pandas as pd

In [ ]:
url ='https://www.premierleague.com/stats/top/players/goal_assist'
html = requests.get(url)

In [ ]:
json_data=html.json()

JSONDecodeError: ignored

Creating a `pandas` dataframe

In [ ]:
#create dataframe directly
pd.DataFrame(json_data[1])

In [ ]:
# create array in loop
for i in json_data[1]:
  # print(i)

SyntaxError: ignored

# Scraping *light*

Reading from `HTML` tables direclty with `pandas`

In [ ]:
tables=pd.read_html('https://www.premierleague.com/stats/top/players/goal_assist')

In [ ]:
df=tables[0]

In [ ]:
df.columns=['rank','player','club','nationality','stat','dropbar']

`pandas` DataFrame sorting

In [ ]:
df.sort_values(by='rank')

    rank              player             club  nationality  stat  dropbar
0      1          Ryan Giggs                -        Wales   162      NaN
1      2       Cesc Fàbregas                -        Spain   111      NaN
2      3        Wayne Rooney                -      England   103      NaN
3      4       Frank Lampard                -      England   102      NaN
4      5     Dennis Bergkamp                -  Netherlands    94      NaN
5      6         David Silva                -        Spain    93      NaN
6      7      Steven Gerrard                -      England    92      NaN
7      8        James Milner        Liverpool      England    86      NaN
8      9       David Beckham                -      England    80      NaN
9     10     Kevin De Bruyne  Manchester City      Belgium    78      NaN
10    11    Teddy Sheringham                -      England    76      NaN
11    12       Thierry Henry                -       France    74      NaN
12    13         Andrew Cole                -      England    73      NaN
13    14        Ashley Young      Aston Villa      England    69      NaN
14    15     Darren Anderton                -      England    68      NaN
15    16        Gareth Barry                -      England    64      NaN
16    16        Alan Shearer                -      England    64      NaN
17    18  Matthew Le Tissier                -      England    63      NaN
18    19   Christian Eriksen                -      Denmark    62      NaN
19    19     Nolberto Solano                -         Peru    62      NaN

In [ ]:
df=df.sort_values(by='rank')

In [ ]:
df.to_csv('my_topassistersPL_data.csv')

# Scraping *level 2*

In [ ]:
url='https://www.comparethemarket.com/car-insurance/content/global-supercar-index/'

In [ ]:
pd.read_html(url)

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
html = requests.get(url)
soup = BeautifulSoup(html.content, 'html.parser')

In [ ]:
table=soup.find('div',id='cheapest-countries')

In [ ]:
headings=table.findAll('h4')

In [ ]:
values=table.findAll('p',class_='lead')
# table.findAll('p',{'class':'lead'})

In [ ]:
headings_list=[i.text for i in headings]

In [ ]:
values_list=[int(i.text.replace('£','').replace(',','')) for i in values]

In [ ]:
df1=pd.DataFrame([headings_list,values_list]).T

In [ ]:
table=soup.find('div',id='expensive-countries')
headings=table.findAll('h4')
values=table.findAll('p',class_='lead')
df2=pd.DataFrame([[i.text for i in headings],
              [int(i.text.replace('£','').replace(',','')) for i in values]]).T

In [ ]:
pd.concat([df1,df2])

                0       1
0          Canada  136703
1          Mexico  139930
2  United Kingdom  155970
0       Argentina  549840
1       Singapore  526958
2         Vietnam  524620

# Advanced: scraping with `Selenium` *zombie browser*